

<span class="" style="color: {{ block.settings.color }}">
{{ block.settings.content }}
</span>

{% render "arc_snippet" %}
{% schema %}
  {
    "name": "Arena Extension",
    "target": "section",
    "class": "arc-extension",
    "stylesheet": "arc_styles.css",
    "javascript": "arc_scripts.js",
    "settings": [
      { 
        "type": "textarea", 
        "id": "content", 
        "label": "Content", 
        "default": "Welcome to ArenaCommerce extension!" 
      },
      { 
        "type": "color", 
        "id": "color", 
        "label": "Color", 
        "default": "#000000" 
      }
    ]
  }
{% endschema %}
